.wrapper {
  box-sizing: border-box;
  font-size: 24px;
  border: 1px solid rgb(233, 232, 232);
  border-radius: 10px;
  width: 350px;
  margin: 20px auto;
  padding: 10px;
}

ul li {
  text-align: left;
}
